html, body {
    height: 100%;
    margin: 0;
}

#games {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
}

.game-card img {
    height: 200px;
    object-fit: cover;
}

.game-card .btn {
    width: auto;
    align-self: start;
}

.btn-red {
    background-color: rgb(255,100,100);
    margin-bottom: 1vh;
}

.btn-red:hover {
    background-color: rgb(255,150,150);
}